.v-card-title .v-btn {
  margin-left: 5px;
}

.list-btns {
  display: flex;
  justify-content: space-between;
}

.edit-btns {
  display: flex;
  gap: 10px;
}

@media only screen and (max-width: 600px) {
  .v-progress-linear {
    margin: 0 auto;
  }
}
